.pages {
  padding: 30px 0 100px;

  h1 {
    font-size: 22px;
  }
  p {
    font-size: 12px;
    margin-bottom: 2rem;
  }

  dl {
    margin-bottom: 2rem;
    dt {
      font-size: 18px;
      font-weight: bold;
    }
    dd {
      padding: 20px 0;
      p {
        font-size: 14px;
      }
      img {
        max-width: 100%;
      }
      h3 {
        font-size: 16px;
      }
      ol {
        padding-left: 1.5rem;
        font-size: 14px;
      }
    }
  }
}