.pages {
  padding: 30px 0;

  h1 {
    font-size: 22px;
    margin-bottom: 2rem;
  }

  dl {
    margin-bottom: 2rem;
    dt {
      font-size: 18px;
      font-weight: bold;
    }
    dd {
      font-size: 14px;
      padding: 20px 0;
    }
  }
}